@{
    ViewData["Title"] = "Sayfa Bulunamadı - RentCar";
    Layout = "_UserLayout";
}

<section id="section-hero" class="jarallax text-light pt50 pb50 vertical-center" aria-label="section">
    <img src="~/images/background/1.jpg" class="jarallax-img" alt="">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h1>Bir şeyler eksik.</h1>
                <p>Bu sayfa mevcut değil gibi görünüyor. Endişelenmeyin, en iyi ekibimiz konuyla ilgileniyor.</p>
                <a asp-controller="Home" asp-action="Index" class="btn-main">Ana Sayfaya Dön</a>
                <div class="spacer-10"></div>
            </div>
            <div class="col-lg-6 text-center">
                <h1 class="s2">
                    <span class="c1">404</span>
                    <span class="spacer-single"></span>
                    <span class="c3">Bulunamadı</span>
                </h1>
            </div>
        </div>
    </div>
</section>
